<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>謝謝光臨</title>
    <style>
    body {background-color: #FFFFE0;}
    </style>
</head>
<body>
<div style="text-align: center;">
    <form action="/again">
        <h3>謝謝光臨，歡迎再次訂購</h3>
        <label><input type="submit"  value="再次訂購" style="font-size: 2rem; padding: 1rem 2rem;"></label>
        <label><input type="submit" formaction="/signout" value="登出"
                      style="font-size: 2rem; padding: 1rem 2rem;"></label>
    </form>
</div>
</body>
</html>