<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style="text-align: center;">
        <h1 style="font-size: 2rem;">加入會員</h1>
    </div>
     <style>
    body {background-color: #FFFFE0;}
    </style>
    <title>註冊系統</title>
</head>
<body>
<div style="text-align: center;">
 <h2>請輸入以下資訊</h2>
 <form action="/sueccess" method="POST" >
     <label>姓名</label><input type="text" name="name" /><br/>
     <label>電話</label><input type="text" name="tel" /><br/>
     <label>信箱</label><input type="text" name="email" /><br/>
     <label>密碼</label><input type="password" name="password" /><br/>
     <label><input type="submit" value="完成" style="font-size: 2rem; padding: 1rem 2rem;"></label>
     <label><input type="reset" value="修改" style="font-size: 2rem; padding: 1rem 2rem;"></label>
 </form>
</div>
</body>
</html>

