<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style="text-align: center;">
    <h1 style="font-size: 2rem;">飲料訂購網</h1>
    </div>
    <style>
    body {background-color: #FFFFE0;}
    </style>
</head>
<body>
    <form action="/check" method="POST">
        <h1>歡迎光臨 {{ data }} ！</h1>
        <div style="display: flex;">
            <fieldset style="flex: 1;">
                <legend>濃醇奶茶系列<img src="milk.png" width="50"></legend>
                <div class="milk-tea-coffee" style="margin-top: 5px">
                    <label><input type="radio" name="beverage" value="錫蘭奶茶" >錫蘭奶茶  $ 45</label><br>
                    <label><input type="radio" name="beverage" value="紅茶拿鐵"
                                  style="margin-top: 20px">紅茶拿鐵 $ 60</label><br>
                    <label><input type="radio" name="beverage" value="冬瓜鮮奶"
                                  style="margin-top: 20px">冬瓜鮮奶 $ 50</label><br>
                    <label><input type="radio" name="beverage" value="珍珠奶茶"
                                  style="margin-top: 20px">珍珠奶茶 $ 70</label><br>
                    <label><input type="radio" name="beverage" value="黑糖珍珠鮮奶"
                                  style="margin-top: 20px">黑糖珍珠鮮奶 $ 80</label><br>
                </div>
            </fieldset>
            <fieldset style="flex: 1;">
                <legend>找好茶<img src="tea.png" width="60" ></legend>
                <div class="other-tea" style="margin-top: 5px">
                    <label><input type="radio" name="beverage" value="翡翠清茶">翡翠清茶 $ 35</label><br>
                    <label><input type="radio" name="beverage" value="文山包種"
                                  style="margin-top: 20px">文山包種 $ 35</label><br>
                    <label><input type="radio" name="beverage" value="熟成紅茶"
                                  style="margin-top: 20px">熟成紅茶 $ 35</label><br>
                    <label><input type="radio" name="beverage" value="春烏龍"
                                  style="margin-top: 20px">春烏龍 $ 40</label><br>
                    <label><input type="radio" name="beverage" value="蜜香紅茶"
                                  style="margin-top: 20px">蜜香紅茶 $ 50</label><br>
                </div>
            </fieldset>
            <fieldset style="flex: 1;">
                <legend>咖啡系列<img src="coffee.png" width="50" ></legend>
                <div class="coffee" style="margin-top: 5px">
                    <label><input type="radio" name="beverage" value="美式咖啡">美式咖啡 $ 60</label><br>
                    <label><input type="radio" name="beverage" value="特調拿鐵"
                                  style="margin-top: 20px">特調拿鐵 $ 80</label><br>
                    <label><input type="radio" name="beverage" value="卡布奇諾"
                                  style="margin-top: 20px">卡布奇諾 $ 90</label><br>
                    <label><input type="radio" name="beverage" value="焦糖瑪奇朵"
                                  style="margin-top: 20px">焦糖瑪奇朵 $ 90</label><br>
                    <label><input type="radio" name="beverage" value="榛果拿鐵"
                                  style="margin-top: 20px">榛果拿鐵 $ 90</label><br>
                </div>
            </fieldset>
        </div>
        <legend>甜度<span style="color:#F00">*</span>：</legend>
        <label><input type="radio" name="sweet" value="正常">正常</label>
        <label><input type="radio" name="sweet" value="半糖">半糖</label>
        <label><input type="radio" name="sweet" value="三分糖">三分糖</label>
        <label><input type="radio" name="sweet" value="無糖">無糖</label><br><br>
        <legend>冰塊<span style="color:#F00">*</span>：</legend>
        <label><input type="radio" name="ice" value="正常">正常</label>
        <label><input type="radio" name="ice" value="微冰">微冰</label>
        <label><input type="radio" name="ice" value="少冰">少冰</label>
        <label><input type="radio" name="ice" value="去冰">去冰</label><br><br>
        <label>添加口感<span style="color:#F00">*</span>：</label><br>
        <label><input type="checkbox" name="mix" value="波霸">波霸 $ 10</label>
        <label><input type="checkbox" name="mix" value="珍珠">珍珠 $ 10</label>
        <label><input type="checkbox" name="mix" value="椰果">椰果 $ 10</label>
        <label><input type="checkbox" name="mix" value="仙草凍">仙草凍 $ 10</label><br><br>
        <label>領取方式<span style="color:#F00">*</span>：</label>
        <label><input type="radio" name="receive" value="外送">外送</label>
        <label><input type="radio" name="receive" value="自取">自取</label><br><br>
        <label><input type="submit"  value="確認訂單" style="font-size: 2rem; padding: 1rem 2rem;"></label>
        <label><input type="reset" value="修改" style="font-size: 10rem; padding: 5rem 5rem;"></label>
    </form>
</body>
</html>

