<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style="text-align: center;">
        <h1 style="font-size: 2rem;">歡迎光臨飲料訂購網</h1>
    </div>
    <style>
    body {background-color: #FFFFE0;}
    </style>
    <title>會員系統</title>
</head>
<body>
    <div style="text-align: center;">
    <h2><div>會員登入</div></h2>
    <form action="/signin" method="POST">
        <label>信箱</label><input type="text" name="email" /><br/>
        <label>密碼</label><input type="password" name="password" /><br/>
        <label><input type="submit" value="登入" style="font-size: 2rem; padding: 1rem 2rem;"></label>
        <label><input type="submit" formaction="/member" value="註冊"
                      style="font-size: 2rem; padding: 1rem 2rem;"></label>
    </form>
</div>
</body>
</html>




