<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style="text-align: center;">
        <h1 style="font-size: 2rem;">錯誤訊息</h1>
    </div>
    <style>
    body {background-color: #FFFFE0;}
    </style>
    <title>錯誤頁面</title>
</head>
<body>
    <div style="text-align: center;">
        <form action="/">
        <h2><div>{{ message }}</div></h2>
        <label><input type="submit" formaction="/" value="返回首頁"
                      style="font-size: 2rem; padding: 1rem 2rem;"></label>
        </form>
    </div>
</body>
</html>